/* 通用区域*/
.warp{
/* 以下属性垂直居中 */
display: table-cell;
vertical-align:middle;
}
.warp .box{
display: flex;
justify-content:center;
align-items: center;
/* 注意这里需要设置高度来查看垂直居中效果 */
height: 1080px;
}


/* Html Body 区域*/
body {
  background-color:#f2f3f5; /* 网页背景色*/
}


/* a 元素区域*/
a {
  text-decoration: none;
} /* 下划线*/

a:link {
  color:#5ba585;
} /* 未访问链接*/

a:visited {
  color:#5ba585;
} /* 已访问链接 */

a:hover {
  color:#40735d;
} /* 鼠标移动到链接上 */

a:active {
  color:#40735d;
} /* 鼠标点击时 */
