/* 通用区域*/
.center{
/* text-align: center; 文字居中*/
margin: auto;
position: absolute;
top: 50px;
left: 0px;
right: 0px;
}


/* Html Body 区域*/
body {
  background-color:#f2f3f5; /* 网页背景色*/
}


/* a 元素区域*/
a {
  text-decoration: none;
} /* 下划线*/

a:link {
  color:#5ba585;
} /* 未访问链接*/

a:visited {
  color:#5ba585;
} /* 已访问链接 */

a:hover {
  color:#40735d;
} /* 鼠标移动到链接上 */

a:active {
  color:#40735d;
} /* 鼠标点击时 */
