/* 通用区域 */
.center{
    text-align: left;
    margin: auto;
    position: absolute;
    top: 85px;
    left: 0px;
    right: 0px;
}


/* Html Body 区域 */
body {
    background-color:#f2f3f5; /* 网页背景色 */
}


/* a 元素区域 */
a {
    text-decoration: none;
} /* 下划线 */
a:link {
    color:#5ba585;
} /* 未访问链接 */
a:visited {
    color:#5ba585;
} /* 已访问链接 */
a:hover {
    color:#40735d;
} /* 鼠标移动到链接上 */
a:active {
    color:#40735d;
} /* 鼠标点击时 */


/* div 元素区域*/
/* top*/
.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240,240,255);
}
.top .item {
    float: left;
}
.top .item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top .item a:hover {
    background-color: rgb(248,248,255);
}
